* {
	border: none;
	border-radius: 10px;
	/* font-family: "Firacode Nerd Font"; */
	font-size: 13px;
	min-height: 10px;
}

window#waybar {
	/* background: #1A1B26  #353A3F */
	background: rgba(26, 27, 38, 1);
	padding: 10px;
	margin-bottom: 0px;
	border-radius: 0;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
	margin-top: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
    	color: transparent;
	background: transparent;
}

/* River */
/* #tags { */
/* 	margin-top: 6px; */
/* 	margin-left: 12px; */
/* 	font-size: 4px; */
/* 	margin-bottom: 8px; */
/* 	border-radius: 10px; */
/* 	background: #161320; */
/* 	transition: none; */
/* } */
/**/
/* #tags button { */
/* 	transition: none; */
/* 	color: #B5E8E0; */
/* 	background: transparent; */
/* 	font-size: 16px; */
/* 	border-radius: 2px; */
/* } */
/**/
/* #tags button.occupied { */
/* 	transition: none; */
/* 	color: #F28FAD; */
/* 	background: transparent; */
/* 	font-size: 4px; */
/* } */
/**/
/* #tags button.focused { */
/* 	color: #ABE9B3; */
/*     border-top: 6px solid #ABE9B3; */
/*     border-bottom: 6px solid #ABE9B3; */
/* } */
/**/
/* #tags button:hover { */
/* 	transition: none; */
/* 	box-shadow: inherit; */
/* 	text-shadow: inherit; */
/* 	color: #FAE3B0; */
/* 	border-color: #E8A2AF; */
/* 	color: #E8A2AF; */
/* } */
/**/
/* #tags button.focused:hover { */
/*     color: #E8A2AF; */
/* } */


/* Sway */
#workspaces {
	margin-top: 6px;
	margin-left: 12px;
	font-size: 4px;
	margin-bottom: 8px;
	border-radius: 10px;
	background: black;
	transition: none;
}

#workspaces button {
	transition: none;
	color: #AD8EE6;
	background: transparent;
	font-size: 16px;
}

#workspaces button.visible {
	transition: none;
	color: #AD8EE6;
	background: transparent;
	font-size: 16px;
	border-radius: 2px;
}

#workspaces button:hover {
	transition: none;
	color: #FAE3B0;
}

#workspaces button.focused {
	color: #AD8EE6;
	border-top: 6px solid #AD8EE6 /* #ABE9B3 */;
	border-bottom: 6px solid #AD8EE6 /* #ABE9B3 */;
}

#workspaces button.active {
	color: #AD8EE6;
	border-top: 6px solid #AD8EE6 /* #ABE9B3 */;
	border-bottom: 6px solid #AD8EE6 /* #ABE9B3 */;
}

#workspaces button.urgent {
	color: rgba(238, 46, 36, 1);
}

/* #workspaces button.persistent { */
/* 	color: #D3D3D3; */
/* 	font-size: 16px; */
/* } */
/**/
/* #workspaces button.persistent:hover { */
/* 	transition: none; */
/* 	color: #FAE3B0; */
/* } */

#workspaces button.empty {
	color: #D3D3D3;
	font-size: 16px;
}

#workspaces button.empty:hover {
	transition: none;
	color: #FAE3B0;
}

#network {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 8px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #bd93f9;
}

#pulseaudio {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 8px;
	border-radius: 10px;
	transition: none;
	color: #1A1826;
	background: #FAE3B0;
}

#battery {
	margin-top: 6px;
	margin-left: 8px;
	margin-right: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 8px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #67F3F7 /* #B5E8E0 */;
}

#battery.charging, #battery.plugged {
	color: #161320;
    background-color: #67F3F7 /* #B5E8E0 */;
}

#battery.critical:not(.charging) {
    background-color: #67F3F7 /* #B5E8E0 */;
    color: #161320;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #BF616A;
        color: #B5E8E0;
    }
}

#backlight {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 8px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #F8BD96;
}
#clock {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 8px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #EA8AAF /* #ABE9B3 */;
	/*background: #1A1826;*/
}

#memory {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 8px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #DDB6F2;
}
#cpu {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 8px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #96CDFB;
}

#tray {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 8px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #B5E8E0;
	background: #161320;
}

#custom-launcher {
	font-size: 24px;
	margin-top: 6px;
	margin-left: 8px;
	margin-bottom: 8px;
	padding-left: 10px;
	padding-right: 5px;
	border-radius: 10px;
	transition: none;
    color: #7EB6E1/*#89DCEB*/;
    background: black /* #161320 */;
}

#custom-power {
	font-size: 20px;
	margin-top: 6px;
	margin-left: 8px;
	margin-right: 8px;
	padding-left: 10px;
	padding-right: 5px;
	margin-bottom: 8px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #F28FAD;
}

#custom-wallpaper {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 8px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #C9CBFF;
}

#custom-updates {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 8px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #E8A2AF;
}

#custom-wlClipboard {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 8px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #F2CDCD;
}
