* {
  font-family: FiraCode Nerd Font;
  font-size: 20;
  font-weight: 900;
}

.genwin {
  border-radius: 10px;
}

.nav-bar {
  border-radius: 10px;
  background: transparent;
}

.shortcut-bar {
  border-radius: 10px;
  background: transparent;
}

.bar {
  margin: 20px;
  background: #282A37;
}

.app-img {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.selected {
  border-color: #AD8EE6;
  border-radius: 10px;
  border-width: 6px;
  margin-right: 10px;
  margin-left: 10px;
}

.deselected {
  border-color: #33ccff;
  border-radius: 10px;
  border-width: 6px;
  margin-right: 10px;
  margin-left: 10px;
}
